.form {
  display: flex;
  align-items: center;
}

.formField {
  // margin: 0 10px;
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-text-faded);
    margin-bottom: 5px;
  }
}

.button {
  display: block;
  background: var(--color-primary);
  color: var(--color-dark);
  font-weight: bold;
  padding: 17px 20px;
  margin: 24px 0 0 0;
  border: none;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-primary-highlight);
  }
  &:disabled {
    background: var(--color-primary-faded);
    cursor: not-allowed;
  }
  &.rounded_right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.select,
.input {
  height: 48px;
  background: #fff;
  color: var(--color-text-faded);
  font-size: 18px;
  border-radius: 0;
  border: none;

  padding: 5px 10px;
}

.input__rounded_left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
