.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  // position: fixed;
  // left: 0;
  // bottom: 0;
  width: 100%;
  z-index: 1;

  background: var(--color-dark);
}

.inner {
  text-align: right;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
  font-weight: bold;
}

.price {
  font-size: 25px;
  font-weight: bold;
  color: var(--color-primary);
  white-space: nowrap;
}

.button {
  display: block;
  background: var(--color-primary);
  color: var(--color-dark);
  font-weight: bold;
  padding: 15px 20px;
  margin: 0 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-primary-highlight);
  }
}
