.timeline {
  width: 100vw;
  max-width: 100%;
  background: var(--color-dark);
  display: flex;
  padding: 20px 15px;
  text-align: left;
  position: relative;

  display: flex;
  width: 100%;
  z-index: 1;
  padding: 20px 10px;

  background: var(--color-dark);
}

.element {
  position: relative;
  &:hover {
    .tooltip {
      display: block;
    }
  }
}

.airportName {
}

.tooltip {
  display: none;
  position: absolute;
  background: var(--color-dark-highlight);
  border-radius: 3px;
  top: 100%;
  padding: 3px 5px;
  font-size: 12px;
  box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.delete {
  position: relative;
  display: flex;
  align-items: center;
  button {
    padding: 0;
    background: transparent;
    display: block;
    text-align: center;
    font-size: 12px;
    border: 0;
    cursor: pointer;
    fill: var(--color-dark-faded);
    svg {
      width: 30px;
      height: 30px;
    }
    &:hover {
      fill: #f00;
    }
  }
}

.duration {
  font-size: 12px;
  position: relative;
  flex-grow: 1;
  text-align: center;
  max-width: 200px;
}

.date {
  padding: 3px 10px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}

.box {
  background: var(--color-dark-faded);
  padding: 8px 10px;
  border-radius: 3px;
  margin-right: 10px;
  min-width: 100px;
  align-items: center;
  display: flex;
}

.vertWrapper {
  display: flex;
  flex-direction: row;
}

.flight {
  font-weight: bold;
}

.flightIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: var(--color-primary);
}

.airportCode {
  color: var(--color-primary);
}

.flightTime {
  color: #fff;
  margin-right: 8px;
}

.duration {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  vertical-align: middle;
}

.durationIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: #fff;
}
