#root {
  margin: 0 auto;
  padding: 2rem;
  max-width: calc(100vw - 1rem);

  background: var(--color-dark-faded);
  color: var(--color-text-default);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--color-primary-highlight);
}
