:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: 1px solid lightslategray;
}

/* 
--rich-black: #000814ff;
--oxford-blue: #001d3dff;
--yale-blue: #003566ff;
--mikado-yellow: #ffc300ff;
--gold: #ffd60aff; */

:root {
  --color-dark-faded: #000814ff;
  --color-dark: #001d3dff;
  --color-dark-highlight: #003566ff;
  --color-primary-faded: #e0ac00;
  --color-primary: #ffc300ff;
  --color-primary-highlight: #ffd60aff;

  --color-text-default: #fff;
  --color-text-highlighed: #ffc300ff;
  --color-text-faded: #b0b0b0;

  --breakpoint-mobile: 768px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--color-primary-highlight);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
